* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0B1120;
    color: white;
    overflow-x: hidden;
}

.bg-glow {
    position: fixed;
    width: 700px;
    height: 700px;
    background: radial-gradient(circle,
            rgba(0, 255, 170, 0.15),
            transparent 70%);
    top: -200px;
    right: -200px;
    z-index: -1;
}

.navbar {
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.04);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #00FFAA;
}

.nav-links span {
    margin-left: 25px;
    color: #ccc;
    font-size: 14px;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 40px auto;
}

.glass {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.25);
}

.hero {
    padding: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
    color: #00FFAA;
}

.hero p {
    color: #ccc;
    font-size: 18px;
}

.upload-section {
    padding: 35px;
    text-align: center;
    margin-bottom: 35px;
}

.upload-section input {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.upload-section button {
    background: linear-gradient(
        135deg,
        #00FFAA,
        #00BFFF
    );

    border: none;
    padding: 14px 28px;
    border-radius: 12px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.upload-section button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(0,255,170,0.4);
}

.cards {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(250px, 1fr));

    gap: 25px;
    margin-bottom: 35px;
}

.card {
    padding: 30px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: #ccc;
    margin-bottom: 12px;
}

.card h2 {
    font-size: 42px;
    color: #00FFAA;
    margin-bottom: 10px;
}

.card p {
    color: #999;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 35px;
}

.chart-container {
    padding: 25px;
}

.chart-container h2 {
    margin-bottom: 20px;
    color: #00FFAA;
}

.insights {
    padding: 30px;
}

.insights h2 {
    margin-bottom: 20px;
    color: #00FFAA;
}

.insights ul {
    list-style: none;
}

.insights li {
    background: rgba(255,255,255,0.05);
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 15px;
    color: #ddd;
    transition: 0.3s;
}

.insights li:hover {
    background: rgba(0,255,170,0.08);
}

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255,255,255,0.2);
    border-top: 4px solid #00FFAA;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

.hidden {
    display: none;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#statusText {
    margin-top: 15px;
    color: #00FFAA;
}

@media(max-width: 900px) {

    .charts {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 34px;
    }
}

.chat-section{
    margin-top:40px;
    padding:25px;
}

#chatBox{
    height:300px;
    overflow-y:auto;
    background:#111827;
    border-radius:15px;
    padding:15px;
    margin-bottom:20px;
}

.message{
    margin-bottom:15px;
    padding:12px;
    border-radius:10px;
}

.user{
    background:#2563EB;
    color:white;
    text-align:right;
}

.bot{
    background:#1F2937;
    color:#00FFAA;
}

.chat-input-area{
    display:flex;
    gap:10px;
}

.chat-input-area input{
    flex:1;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#111827;
    color:white;
}

.chat-input-area button{
    padding:14px 22px;
}